/* event__info
event__info__theme
event__info__dateplace */

.event__info {
    width: calc(100% - 40px);
    margin: 0px 20px 20px 20px;
    font-family: 'Zarid';
    border: solid 1px black;
    font-size: 40px;
    height: 50px;
    background-color: white;
}

.event-wrapper {
    margin-top: 80px !important;
    overflow-x: hidden;
}

.event__info h2 {
    display: inline-block;
    position: absolute;
    margin-top: -7px;
}

.event__info__dateplace {
    right: 35px;
}

.event__info__theme {
    left: 35px;
}

.event__stories {
    overflow: scroll;
    height: calc(100% - 195px);
    position: absolute;
    bottom: 0;
    width: 100vw;
    box-sizing: border-box;
}

.event__stories__single {
    padding: 20px;
    background-color: rgba(255, 255,255, 0.6);
}

.event__stories__single__title {
    width: 100%;
    border-bottom: solid 1px black;
    font-size: 25px;
    margin-bottom: 20px;
}

.event__stories__single__content {
    padding-left: 100px;
}

.story__watch video {
    max-height: 500px;
    max-width: calc(100vw - 140px);
}

.story__listen audio {
    width: calc(100vw - 140px);
    border: solid 1px black;
    background-color: transparent;
    border-radius: 60px;
    height: 55px;
}

.story__read img {
    width: 200px;
    display: inline-block;
    margin-left: -100px;
}

.story__read div {
    width: calc(100vw - 265px);
    display: inline-block;
    vertical-align: top;
    margin-left: 25px;
}

.event__feedback__scroll {
    display: block;
}
.event__feedback__mobile {
    display: none;
}

.story__watch__lang, .story__listen__lang {
    text-align: left;
    margin-top: -4px;
    cursor: pointer;
}

@media (max-width: 750px) {
    .event {
        height: 100%;
    }

    .story__watch__lang, .story__listen__lang {
        text-align: right;
        margin-top: -8px;
    }

    .event-wrapper {
       bottom: unset !important;
       margin-top: 60px !important;
    }

    .event__info__dateplace {
        right: 20px;
    }
    
    .event__info__theme {
        left: 20px;
    }
    .event__info {
        font-size: 30px;
        border: none;
        border-bottom: solid 1px black;
        background-color: transparent;
        margin-top: 15px;
        height: 40px;
    }

    .event__stories {
        height: calc(100% - 55px);
    }

    .event__stories__single {
        width: calc(100vw - 20px);
    }

    .story__read img {
        width: 100%;
        margin-left: 0;
    }

    .event__stories__single__content {
        width: 100%;
        padding-left: 20px;
    }

    .event__stories__single__title {
        font-size: 20px;
    }
    .story__read div {
        width: 100%;
        margin-left: 0;
    }

    .story__watch video {
        max-height: 500px;
        max-width: 100%;
    }

    .story__listen audio {
        width: 100%;
    }

    .event__feedback {
        height: calc(100% - 55px);
        bottom: 0;
        overflow-y: scroll;
    }

    .event__feedback__scroll {
        display: none;
    }
    .event__feedback__mobile {
        display: block;
    }
    .event__feedback__media{
        width: 100%;
    }
}

.story__watch__lang__option, .story__listen__lang__option {
    font-size: 12px;
    display: inline-block;
}

.story__watch__lang__option--active, .story__listen__lang__option--active {
    text-decoration: underline;
}

.story__watch__lang__option::after, .story__listen__lang__option::after {
    display: inline-block;
    content: '•';
    margin: 0 7px;
    text-decoration: none !important;
}

.story__watch__lang__option:last-child::after, .story__listen__lang__option:last-child::after {
    content: '';
    margin: 0;
}

@media (max-width: 400px) {
    .event__info h2 {
        display: block;
        position: relative;
        line-height: 125%;
        left: 0;
    }
    .event__info {
        height: 70px;
        margin-top: 22px;
    }

    .event__stories, .event__feedback {
        height: calc(100% - 85px);
    }
}