.video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  left: 0;
  top: 0;
  object-position: center;
  z-index: 0;
  opacity: 0;
  transition: opacity .7s;
  cursor: none;
  background-color: white;
  pointer-events: none;
}

.video__video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  left: 0;
  top: 0;
  object-position: center;
  z-index: 0;
  transition: opacity .7s;
  cursor: none;
}

.video__video--en {
  opacity: 0.3;
}

.video__video--de {
  opacity: 1;
}

.video__video--ar {
  filter: grayscale(1);
}

@media (hover: none) {
  .cross-cursor {
    width: 40px;
    height: auto;
    position: absolute;
    display: none;
    position: absolute;
    right: 20px;
    top: 20px;
    pointer-events: none;
    z-index: 20;
    opacity: 1;
    pointer-events: none;
  }
}