.archive__toolbar {
  width: calc(100% - 40px);
  border: solid 1px black;
  margin-left: 20px;
  padding: 0;
  height: 30px;
  font-size: 15px;
  position: absolute;
  top: 70px;
}

.archive__toolbar__button {
  background-color: transparent;
  border: none;
  outline: none;
  height: 100%;
  width: 50%;
}

.archive__toolbar__button:first-child {
  border-right: 1px black solid;
}

.archive__toolbar__button--selected {
  background-color: white;
}

@media (max-width: 750px) {
  .archive__toolbar__button {
    font-size: 11px;
    line-height: 10px;
    padding: 0;
  }
}

@media (max-width: 350px) {
  .archive__toolbar__button {
    font-size: 9px;
    line-height: 10px;
    padding: 0;
  }
}

.archive__locations {
  margin-top: 70px;
  z-index: 3000;
}

.archive__locations ul {
  display: flex;
  align-items: space-around;
  justify-content: stretch;
  margin-left: 20px;
  width: calc(100% - 40px);
  flex-wrap: wrap;
}

.archive__locations__city {
  border: solid black 1px;
  margin-right: -1px;
  margin-top: -1px;
  text-align: center;
  flex-grow: 1;
  cursor: pointer;
  padding: 0 10px;
}

.archive__locations__city--selected {
  background-color: white;
}