.languages {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  z-index: 4;
  font-size: 20px;
}

.languages ul li {
  display: inline-block;
  cursor: pointer;
  padding: 1px 10px;
  border: solid 1px black;
  border-radius: 20px;
  text-transform: uppercase;
}

.languages ul {
  display: flex;
  align-items: space-around;
  justify-content: space-between;
}

.languages__active {
  background-color: white;
}

.header__menu {
  display: none !important;
}

@media (max-width: 750px) {
  .languages ul li {
    display: none;
    border-radius: 50%;
    padding: 6px 8px 5px 8px !important;
    font-size: 15px;
  }
  .languages__active {
    display: block !important;
  }

  .languages {
    padding: 10px;
    z-index: 11;
  }

  .header__menu {
    width: 37px;
    height: 37px;
    display: block !important;
    background-image: url('/burger.png');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .menu .languages {
    position: relative !important;
    z-index: 10;
  }

  .menu .languages ul li {
    display: block;
    border: none !important;
  }

  .menu .languages ul .languages__active {
    border: solid 1px black !important;
  }

  .menu .languages ul .header__menu {
    display: none !important;
  }

}

@media (max-width: 350px) {
  .languages__active {
    font-size: 14px;
    line-height: 23px;
  }
}
