.home__footer {
    z-index: 8 ;
    position: absolute;
    bottom: 0px;
    left: 0px;
    line-height: 15px;
    font-size: 12px;
    /* height: 90px; */
    height: 137px;
    padding-top: 10px;
    opacity: 0.7;
    width: 100vw;
    padding-left: 20px;
    bottom: -20px;
    background-color: transparent;
    border-top: none;
}

.home__footer--open {
    bottom: 0px;
    background-color: #f5f7fa;
    opacity: 1;
    border-top: solid 1px black;
    height: calc(100% - 120px);
    z-index: 10;
}

.home__footer:hover {
    opacity: 1;
}

.home__footer p {
    display: inline-block;
    cursor: default;
}

.home__footer__credits {
    margin-right: 40px;
}

.home__footer__small {
    position: fixed;
}

.home__footer__logos a {
    height: 50px;
    display: inline-block;
}

.home__footer__logos a img {
    height: 50px;
    margin-right: 10px;
}

.home__footer__logos__fs img {
    height: 30px !important;
    vertical-align: 10px;
}

.home__footer__logos {
    opacity: 0;
}

.home__footer__small:hover > .home__footer__logos {
    opacity: 1;
}

.home__footer__impressum {
    padding-bottom: 20px;
}

.home__footer .home__footer__impressum {
    margin-top: 140px;
}

.home__footer--open .home__footer__impressum {
    margin-top: 40px;
}

.home__footer__impressum h4 {
    /* margin-bottom: 5px; */
    text-transform: uppercase;
    border-bottom: solid 1px lightgrey;
    width: calc(100vw - 50px);
    padding-bottom: 5px;
}

.home__footer__impressum .rte h1, .home__footer__impressum .rte h2, .home__footer__impressum .rte h3 {
    text-transform: uppercase;
    margin: 1.5em 0 0.3em 0;
}

.home__footer__impressum__button {
    border: none;
    background-color: transparent;
    font-size: 12px;
    outline: none;
    padding: 0;
    font-weight: normal;
    color: black;
    font-family: 'IBMPlex';
}

.home__footer__cross {
    position: absolute;
    width: 15px;
    height: 15px;
    right: 30px;
    margin-top: 5px;
    background-color: transparent;
    border: none;
    background-image: url('/cross.png');
    background-size: contain;
    display: none;
}

.home__footer--open .home__footer__cross{
    display: block;
    z-index: 10;
}

.home__footer--open .home__footer__close {
    display: block;
    height: 120px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
}

.home__footer__design:hover,  .home__footer__impressum__button:hover {
    text-decoration: underline;
}

.home__footer__impressum {
    width: 100%;
    margin-top: 50px;
    height: calc(100% - 20px) !important;
}

.home__footer__impressum .rte {
    width: calc(100% - 40px);
    height: calc(100% - 20px);
    overflow: scroll;
    padding-bottom: 15px;
}

.home__footer__impressum .rte::-webkit-scrollbar {
    display: none;
}

@media (max-width: 750px) {
    .home__footer {
        display: none;
        height: 122px;
    }

    .menu .home__footer {
        display: block !important;
        font-size: 10px !important;
        text-transform: none !important;
    }

    .menu .home__footer .home__footer__credits {
        width: 55vw;
        display: inline-block;
        margin-right: 5vw;
    }

    .menu .home__footer .home__footer__links {
        width: 30vw;
        display: inline-block;
        vertical-align: top;
    }

    .menu .home__footer__impressum__button {
        margin-bottom: 14px;
        font-size: 10px;
    }

    .home__footer .home__footer__small:hover > .home__footer__logos {
        opacity: 0;
    }

    .home__footer--open .home__footer__small:hover > .home__footer__logos {
        opacity: 1;
    }

    .home__footer__logos {
        display: none !important;
    }

    .home__footer__small {
        padding-top: 15px;
        width: calc(100vw - 40px);
        border-top: solid 1px black;
    }

    .home__footer--open .home__footer__logos {
        display: block !important;
        opacity: 1;
    }

    .home__footer--open {
        border: none;
        background-color: white;
    }

    .home__footer__cross{
        right: 21px;
        margin-top: 20px;
    }

    .home__footer__close {
        height: 60px !important;
    }

    .home__footer--open {
        height: calc(100% - 50px) !important;
        max-height: calc(100% - 50px) !important;
    }

    .home__footer .home__footer__close {
        display: none;
    }

    .home__footer--open .home__footer__close {
        display: block !important;
    }

    .home__footer--open .home__footer__impressum {
        margin-top: 190px;
    }

    .home__footer__impressum {
        height: calc(100% - 175px) !important;
    }
    .home__footer__impressum .rte {
        height: calc(100% - 20px);
    }
}

@media (max-width: 400px) {
    .home__footer {
        height: 150px;
    }

    .menu .home__footer .home__footer__credits {
        width: 90vw;
        display: inline-block;
    }
    .menu .home__footer .home__footer__links {
        width: 90vw;
        display: inline-block;
    }
    .home__footer__impressum__button {
        margin-top: 14px;
        margin-bottom: 0 !important;
    }
}