.event__toolbar {
    width: calc(100% - 40px);
    border: solid 1px black;
    margin-left: 20px;
    padding: 0;
    height: 30px;
    font-size: 15px;
    /* position: absolute; */
    top: 70px;
  }
  
.event__toolbar__button {
    background-color: transparent;
    border: none;
    outline: none;
    height: 100%;
    width: 20%;
    text-transform: uppercase;
  }
  
.event__toolbar__button {
    border-right: 1px black solid;
}

.event__toolbar__button:last-child {
    border-right: none;
}
  
.event__toolbar__button--selected {
    background-color: white;
  }

.event .event__toolbar {
  display: none;
}

.event-wrapper .event__toolbar {
  display: block;
}

@media (max-width: 750px) {

  .event .event__toolbar {
    display: block;
    bottom: 10px;
    position: absolute;
    top: unset;
    width: calc(100% - 20px);
    margin-left: 10px;
  }
  
  .event-wrapper .event__toolbar {
    display: none;
  }
}