.archive__toolbar {
  width: calc(100% - 40px);
  border: solid 1px black;
  margin-left: 20px;
  padding: 0;
  height: 30px;
  font-size: 15px;
  position: absolute;
  top: 70px;
}

.archive__toolbar__button {
  background-color: transparent;
  border: none;
  outline: none;
  height: 100%;
  width: 50%;
}

.archive__toolbar__button:first-child {
  border-right: 1px black solid;
}

.archive__toolbar__button--selected {
  background-color: white;
}

@media (max-width: 750px) {
  .archive__toolbar__button {
    font-size: 11px;
    line-height: 10px;
    padding: 0;
  }
}

@media (max-width: 350px) {
  .archive__toolbar__button {
    font-size: 9px;
    line-height: 10px;
    padding: 0;
  }
}