.stickerContainer {
  cursor: grab;
  z-index: 4;
  position: absolute;
  right: 10%;
  top: 20%;
  font-size: 20px;
  line-height: 130%;
}

.sticker {
  width: 180px;
  height: 75px;
  border-radius: 50%;
  background-color: white;
  border: solid 1px black;
  transform: rotate(-20deg);
  box-sizing: border-box;
}

.sticker__text {
  text-align: center;
  width: 130px;
  margin-left: 25px;
  padding-top: 11px;
  transform: rotate(-1deg);
  cursor: pointer;
}