.now__events {
  width: calc(100vw - 40px);
  margin: 20px;
}

.now__events__event {
  margin-bottom: 12px;
  font-size: 1.2rem;
}

.now__events__event h3 {
  width: 100%;
  border-bottom: solid 1px black;
  font-size: 20px;
  position: relative;
}

.now__events__event__info {
  padding-left: 40px;
  padding-top: 7px;
  font-size: 1rem;
  display: flex;
  align-items: space-between;
  justify-content: space-between;
  font-size: 15px;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.now__events__event__info__register, .now__events__event__info__live, .now__events__event__info__date {
  display: inline-block;
}

.now__events__event__info__register, .now__events__event__info__live {
  border: solid 1px black;
  padding: 0 20px;
}

.now__events__event__info__register:hover, .now__events__event__info__live:hover {
  background-color: white;
}

.now__events__event__info__people {
  text-transform: none;
}

.now__events__event__people p {
  margin-left: 40px;
  margin-top: 7px;
  margin-bottom: 0;
}

.now__events__event__date {
  display: none;
}
.now__events__event__info__date {
  display: block;
}

@media (max-width: 750px) {
  .now__events__event {
    width: calc(100vw - 60px);
  }

  .now__events__event__info__date {
    display: block;
    position: absolute;
    bottom: unset;
    top: 0;
  }

  .now__events__event__date {
    display: block;
    position: absolute;
    top: 7px;
    right: 0;
    font-size: 0.75em;
  }
  .now__events__event__info__date {
    display: none;
  }

  .now__events__event__info__register, .now__events__event__info__live {
    background-color: white;
    width: 125px;
    text-align: center;
    margin-left: 10px;
    line-height: 120%;
    padding: 10px 0;
  }

  .now__events__event__info__register {
    line-height: 40px;
  }

  .now__events__event__info {
    justify-content: flex-end;
  }

  .now__events__event__people p {
    line-height: 120%;
    font-size: 15px;
    margin-left: 0;
    width: 100%;
    margin-bottom: 10px;
  }
}