.now__events {
  width: calc(100vw - 40px);
  margin: 20px;
}

.now__events__event {
  margin-bottom: 12px;
  font-size: 1.2rem;
}

.now__events__event h3 {
  width: 100%;
  border-bottom: solid 1px black;
  font-size: 20px;
}

.now__events__event__info {
  padding-left: 40px;
  padding-top: 15px;
  font-size: 1rem;
  display: flex;
  align-items: space-between;
  justify-content: space-between;
  font-size: 15px;
  text-transform: uppercase;
}

.now__events__event__info__register, .now__events__event__info__live, .now__events__event__info__date {
  display: inline-block;
}

.now__events__event__info__register, .now__events__event__info__live {
  border: solid 1px black;
  padding: 0 20px;
}

.now__events__event__info__register:hover, .now__events__event__info__live:hover {
  background-color: white;
}