.player {
  width: calc(100% - 40px);
  position: absolute;
  margin-left: 0;
  height: 1px;
  border-top: solid 1px black;
  bottom: 29px;
  overflow: visible;
  z-index: 6;
  opacity: 0;
  pointer-events: none;
  transition: width .7s, margin-left .7s;
}

.player__cursor {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
  margin-top: -5px;
  transition-delay: .6s;
  transition-duration: .2s;
  transition-property: opacity;
  /* animation: play 1s linear; */
}

@keyframes play {
  0% { left: 0; }
  100% { left: calc(100% - 10px); }
}
